
html, body {
    margin: 0;
    max-width: 100%;
    height: 100%;
    overflow: hidden;
    user-select: none;
}

#page {
    display: flex;
    flex-flow: column;
    height: 100%;
    z-index: 10;
}

#header {
    width: 100%;
    background-color: #44a6c6;
    flex: 0 0 auto;
    height: 3em;
}

#logo {
    height: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.125em;
}

#user {
    position: absolute;
    top: 0;
    right: 0;
    height: inherit;
}

#useravatar {
    height: 90%;
    border-radius: 50%;
    margin-right: 0.25em;
    margin-top: 0.125em;
    border: 1px solid #44a6c6;
}

#useravatar:hover {
    cursor: pointer;
    box-shadow: 0 0 0.5em 0 lightgrey;
}

#explorer {
    flex: 1 1 auto;
    padding: 0 0 0 1%;
    display: flex;
    flex-flow: column;
    overflow: hidden;
}

#path {
    margin: 0.5em 0.5em 2em 0.5em;
    border-bottom: 1px solid lightgrey;
    padding: 0.2em;
    overflow: hidden;
    white-space: nowrap;
    flex: 0 0 auto;
    height: 2em;
}

.pathseperator {
    display: inline-block;
    width: 0;
    height: 1em;
    border: 1px solid lightgrey;
    vertical-align: middle;
}

#pathroot {
    width: 1em;
    height: 1em;
    vertical-align: middle;
}

.pathelement {
    font-family: "Roboto Mono", monospace;
    font-size: 1em;
    color: black;
    padding: 0.4em 0.75em 0.4em 0.75em;
    border-radius: 0.5em;
    display: inline-block;
    white-space: nowrap
}

.pathelement:hover {
    background: #eeeeee;
    cursor: pointer;
}

.dirview {
    display: flex;
    flex-flow: column;
    width: 100%;
}

#rootdirectory {
    overflow-y: scroll; 
    flex: 1 1 auto;
}

.entry, .dirviewheader {
    flex: 0 1 auto;
    border-bottom: 1px solid lightgrey;
    display: flex;
    flex-flow: row nowrap;
}

.dirviewheader {
    padding: 0.5em;
    flex: 0 0 auto;
    overflow-y: scroll;
}

.entry {
    padding: 0.5em 0.5em 0.5em 0.5em;
}

.entry:hover {
    background: #eeeeee;
    cursor: pointer;
}

.entryactive {
    background: lightblue;
}

.entryactive:hover {
    background: lightblue;
}

.dirviewcell {
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: visible; /* TOFIX */
    margin: auto;
}

.entryiconname {
    width: 100%;
    height: 1.2em;
    flex: 1 1 auto;
    display: flex;
    flex-flow: row nowrap;
}

.entryexpand {
    flex: 0 0 auto;
    width: 1.5em;
}

.entryexpandsvg {
    width: 1.75em;
    height: 1.75em;
    margin-top: -0.3em;
}

.entryicon {
    height: 2em;
    width: 2em;
    flex: 0 0 auto;
    margin-top: -0.4em;
}

.entryname {
    font-family: "Roboto Mono", monospace;
    font-size: 0.85em;
    padding-left: 0.75em;
    flex: 1 1 auto;
}

.entrydetails {
    font-family: "Roboto Mono", monospace;
    font-size: 0.75em;
    color: #777777;
    width: 20vw;
    max-width: 20em;
    flex: 0 0 auto;
    overflow: hidden;
    height: 1.25em;
}

.entryowner {
    min-width: 5em;
}

.entrylastmodified {
    min-width: 10em;
}

.dirviewheadercell {
    font-family: "Roboto Mono", monospace;
    font-size: 0.75em;
    color: #777777;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

#dirviewname {
    width: 100%;
    flex: 1 1 auto;
}

#dirviewowner, #dirviewlastmodified, #dirviewfilesize {
    width: 20vw;
    max-width: 20em;
    flex: 0 0 auto;
}

#dirviewowner {
    min-width: 5em;
}

#dirviewlastmodified {
    min-width: 10em;
}

#newsvg {
    height: 1.5em;
    width: 1.5em;
    display: inline-block;
    padding: 0.25em;
    vertical-align: middle;
}

#newtext {
    font-family: "Roboto Mono", monospace;
    font-size: 1em;
    color: #777777;
    display: inline-block;
    vertical-align: middle;
    padding: 0.25em;
    height: min-content;
    margin: auto;
}

#new {
    position: absolute;
    width: max-content;
    bottom: 1em;
    right: 1em;
    padding: 0.5em;
    border-radius: 2em;
    box-shadow: 0 0 0.5em 0 lightgrey;
    background: white;
    z-index: 20;
}

#new:hover {
    background: lightgrey;
    cursor: pointer;
}

.subdirectory {
    margin-left: 1em;
    /* box-shadow: -3px 0 0 0 lightgrey; */
}

#newmenu, #contextmenu , #usermenu {
    position: absolute;
    background: white;
    box-shadow: 0 0 0.5em 0 lightgrey;
    border-radius: 0.3em;
    flex-flow: column;
    z-index: 30;
    white-space: nowrap;
}

#newmenu {
    right: 1em;
    bottom: 1em;
}

#usermenu {
    right: 0.1em;
    top: 2em;
}

hr {
    margin: 0;
    height: 1px;
    background: lightgrey;
    border: none;
}

.menupoint {
    flex: 0 0 auto;
    padding: 0.25em 0.5em 0.25em 0.5em;
}

.menupoint:hover {
    background: lightgrey;
    cursor: pointer;
}

.menusvg {
    display: inline-block;
    vertical-align: middle;
    width: 1.5em;
    height: 1.5em;
}

.menutext {
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
    margin-left: 0.5em;
    font-family: "Roboto Mono", monospace;
    font-size: 0.75em;
    color: #111111;
}

#login {
    flex: 1 1 auto;
}

#loginform {
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    position: absolute;
    background: white;
    box-shadow: 0 0 0.5em 0 lightgrey;
    border-radius: 0.3em;
    z-index: 30;
    padding: 0.25em;
}

#signinheader {
    font-family: "Roboto Mono", monospace;
    font-size: 1em;
    padding: 0.5em;
    text-align: center;
    border-bottom: 2px solid #44a6c6;
    margin: auto;
    width: auto;
}

#username, #password, #signin { 
    font-family: "Roboto Mono", monospace;
    font-size: 0.85em;
    display: block;
    margin: 0.5em;
    padding: 0.5em;
    width: 20em;
    border: 1px solid lightgray;
    border-radius: 0.3em;
    box-sizing: content-box;
}

#username:focus, #password:focus {
    box-shadow: 0 0 0.5em 0 #44a6c6;
}

#rememberall {
    font-family: "Roboto Mono", monospace;
    font-size: 0.75em;
    margin-top: 1.5em;
}

#rememberme, #remembertext {
    vertical-align: middle;
    display: inline-block;
}

#signin {
    margin-top: 1em;
}

#signin:hover {
    cursor: pointer;
}

.infotext {
    font-family: "Roboto Mono", monospace;
    font-size: 0.75em;
    margin: 1em 1em 0.5em 0.5em;
    padding: 0.25em;
}

#infotexterror {
    color: red;
    height: 1em;
}

#error404 {
    font-family: "Roboto Mono", monospace;
    font-size: 1em;
    display: block;
    margin: auto;
    padding: 2em;
    text-align: center;
    background: white;
    box-shadow: 0 0 5px 0 lightgray;
    border-radius: 0.3em;
}

#error404 h1 {
    font-family: "Roboto Mono", monospace;
    font-size: 5em;
}

@media only screen and (max-width: 60em) {
    #dirviewfilesize {
        display: none;
    }
    .entryfilesize {
        display: none;
    }
}

@media only screen and (max-width: 40em) {
    #dirviewowner {
        display: none;
    }
    .entryowner {
        display: none;
    }
}

@media only screen and (max-width: 20em) {
    #dirviewlastmodified {
        display: none;
    }
    .entrylastmodified {
        display: none;
    }
}
